@model List<ThinkProWebsite.Models.Cart>


<div class="dropdown dropdown-cart">
    <a href="cart.html" class="cart_bt"><strong>@ViewBag.CountCart</strong></a>
    <div class="dropdown-menu">
        @if(Model.Count > 0) { 
        <ul>
            @foreach (var product in Model){
            <li>
                <a href="product-detail-1.html">
                    <figure>
                        <img src="/assets/img/products/product_placeholder_square_small.jpg" data-src="@product.iImage" alt="" width="50" height="50" class="lazy"></figure>
                    <strong><span>@product.nName</span>@product.iQuantity x @string.Format("{0:N0}", product.pPrice)</strong>
                </a>
            </li>
            }
        </ul>
        <div class="total_drop">
            <div class="clearfix"><strong>Tổng tiền</strong><span>@string.Format("{0:N0}", ViewBag.SubTotal) VNĐ</span></div>
            @Html.ActionLink("XEM GIỎ HÀNG", "Cart", "Home", null , new {@class="btn_1 outline"})
        </div>
        }
        else
        {
            <span>Giỏ hàng rỗng</span>
        }
    </div>
</div>
<!-- /dropdown-cart-->
<script src="js/common_scripts.min.js"></script>
<script src="js/main.js"></script>
