@model List<ThinkProWebsite.Models.Cart>


@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SPECIFIC CSS -->
<link href="~/assets/css/cart.css" rel="stylesheet">



<main class="bg_gray">
    <div class="container margin_30">
        <div class="page_header">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li><a href="@Url.Action("Products","Home")">Sản Phẩm</a></li>
                    <li>@ViewBag.Title</li>
                </ul>
            </div>
            <h1>Giỏ Hàng</h1>
        </div>
        <!-- /page_header -->
        <table class="table table-striped cart-list">
            <thead>
                <tr>
                    <th style="width: 50%">
                        Sản phẩm
                    </th>
                    <th style="width: 15%">
                        Giá bán
                    </th>
                    <th style="width: 10%">
                        Số lượng
                    </th>
                    <th style="width: 15%">
                        Thành tiền
                    </th>
                    <th style="width: 5%">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                            <div class="thumb_cart">
                                <img src="img/products/product_placeholder_square_small.jpg" data-src="@product.iImage" class="lazy" alt="Image">
                            </div>
                            <span class="item_cart">@product.nName</span>
                        </td>
                        <td>
                            <strong>@string.Format("{0:N0}", product.pPrice) VNĐ</strong>
                        </td>
                        <td>
                            <div class="numbers-row">
                                <input type="text" id="iQuantity" class="qty2 updateProduct" name="iQuantity" data-id-product="@product.idProduct" value="@product.iQuantity">
                                <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                            </div>
                        </td>
                        <td>
                            <strong>@string.Format("{0:N0}", product.dSubtotal) VNĐ</strong>
                        </td>
                        <td class="options">
                            <a href="@Url.Action("DeleteCart", "Home", new { idP = product.idProduct})"><i class="ti-trash"></i></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
        <div class="row add_top_30 flex-sm-row-reverse cart_actions">
            <div class="col-sm-4 text-right">
                <button type="button" id="UpdateCart" class="btn_1 gray">Cập Nhật Giỏ Hàng</button>
            </div>
            <div class="col-sm-8">

            </div>
            <!-- /cart_actions -->

        </div>
        <!-- /container -->

    </div>
    <div class="box_cart">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-4 col-lg-4 col-md-6">

                    <ul>
                        <li>
                            <span>Tổng tiền</span> @string.Format("{0:N0}", ViewBag.SubTotal) VNĐ
                        </li>
                    </ul>
                    @if (Session["Account"] == null)
                    {
                        <a href="@Url.Action("DangNhap","Home")" class="btn_1 full-width cart text-center">ĐĂNG NHẬP ĐỂ ĐẶT HÀNG</a>
                    }
                    else
                    {
                        <a href="@Url.Action("CartDone","Home")" class="btn_1 full-width cart text-center">ĐẶT HÀNG NGAY</a>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->



</main>
<script src="/assets/js/common_scripts.min.js"></script>
<script src="/assets/js/main.js"></script>
<script>
    $(document).ready(function () {
        $("#UpdateCart").click(function (e) {
            e.preventDefault();
            $(".updateProduct").each(function(){
                $.ajax({
                    url: "@Url.Action("UpdateCart","Home")", // gửi ajax đến file result.php
                    type: "get", // chọn phương thức gửi là get
                    dateType: "text", // dữ liệu trả về dạng text
                    data: { // Danh sách các thuộc tính sẽ gửi đi
                        iQuantity: $(this).val(),
                        id: $(this).attr('data-id-product'),
                    },
                    success: function (result) {
                        // Sau khi gửi và kết quả trả về thành công thì gán nội dung trả về
                        // đó vào thẻ div có id = result
                        console.log(result);
                    }
                });
            });
            window.location.href = window.location.href;
        });

    });

</script>
