@model List<ThinkProWebsite.Models.Cart>


@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SPECIFIC CSS -->
<link href="~/assets/css/cart.css" rel="stylesheet">



<main class="bg_gray">
    <div class="container margin_30">
        <div class="page_header">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                </ul>
            </div>
            <h1>Giỏ Hàng</h1>
        </div>
        <!-- /page_header -->
        <table class="table table-striped cart-list">
            <thead>
                <tr>
                    <th style="width: 50%">
                        Sản phẩm
                    </th>
                    <th style="width: 15%">
                        Giá bán
                    </th>
                    <th style="width: 10%">
                        Số lượng
                    </th>
                    <th style="width: 15%">
                        Thành tiền
                    </th>
                    <th style="width: 5%">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                            <div class="thumb_cart">
                                <img src="img/products/product_placeholder_square_small.jpg" data-src="@product.iImage" class="lazy" alt="Image">
                            </div>
                            <span class="item_cart">@product.nName</span>
                        </td>
                        <td>
                            <strong>@string.Format("{0:N0}", product.pPrice) VNĐ</strong>
                        </td>
                        <td>
                            <div class="text-weight-bold ml-4">
                                @product.iQuantity
                            </div>
                        </td>
                        <td>
                            <strong>@string.Format("{0:N0}", product.dSubtotal) VNĐ</strong>
                        </td>
                        <td class="options">
                            <a href="@Url.Action("DeleteCart", "Home", new { idP = product.idProduct})"><i class="ti-trash"></i></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>


        <!-- /cart_actions -->

    </div>
    <!-- /container -->

    <div class="box_cart">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <ul>
                        <li>
                            <span>Tổng tiền</span> @string.Format("{0:N0}", ViewBag.SubTotal) VNĐ
                        </li>
                    </ul>
                    @if (Session["Account"] == null)
                    {
                        <a href="@Url.Action("DangNhap","Home")" class="btn_1 full-width cart text-center">ĐĂNG NHẬP ĐỂ ĐẶT HÀNG</a>
                    }
                    else
                    {
                        <a href="@Url.Action("CartDone","Home")" class="btn_1 full-width cart text-center">ĐẶT HÀNG NGAY</a>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->



</main>
<script src="js/common_scripts.min.js"></script>
<script src="js/main.js"></script>
