
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- SPECIFIC CSS -->
<link href="~/assets/css/home_1.css" rel="stylesheet">
<main>

    <div class="feat">
        <div class="container">
            <ul>
                <li>
                    <div class="box">
                        <i class="ti-gift"></i>
                        <div class="justify-content-center">
                            <h3>Miễn Phí Giao Hàng</h3>
                            <p>Cho các đơn hàng hơn 2,000,000 VND</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-wallet"></i>
                        <div class="justify-content-center">
                            <h3>Thanh Toán Bảo Mật</h3>
                            <p>100% Thanh Toán Bảo Mật</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-headphone-alt"></i>
                        <div class="justify-content-center">
                            <h3>Hỗ Trợ 24/7</h3>
                            <p>Luôn hỗ trợ khách hành trực tuyến</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--/feat-->

    <div class="container margin_60_35">
        <div class="row small-gutters categories_grid">
            <div class="col-sm-12 col-md-6">
                <a href="@Url.Action("Products","Home",new { brand = "RZ"})">
                    <img src="/assets/img/img_cat_home_1_placeholder.png" data-src="https://i.imgur.com/Z6ylkve.jpg" alt="" class="img-fluid lazy">
                    <div class="wrapper">
                        <h2>Razer</h2>
                        <p>115 Products</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row small-gutters mt-md-0 mt-sm-2">
                    <div class="col-sm-6">
                        <a href="@Url.Action("Products","Home",new { brand = "AC"})">
                            <img src="/assets/img/img_cat_home_2_placeholder.png" data-src="https://i.imgur.com/cnz4uuR.png" alt="" class="img-fluid lazy">
                            <div class="wrapper">
                                <h2>Laptop Acer</h2>
                                <p>150 Products</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Url.Action("Products","Home",new { brand = "HP"})">
                            <img src="/assets/img/img_cat_home_2_placeholder.png" data-src="https://phongvu.vn/cong-nghe/wp-content/uploads/2020/09/laptop-tot-nhat-2020-phong-vu-7.jpg" alt="" class="img-fluid lazy">
                            <div class="wrapper">
                                <h2>HP</h2>
                                <p>90 Products</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 mt-sm-2">
                        <a href="@Url.Action("Products","Home",new { brand = "AP"})">
                            <img src="/assets/img/img_cat_home_4_placeholder.png" data-src="https://i.imgur.com/hqudMNz.jpg" alt="" class="img-fluid lazy">
                            <div class="wrapper">
                                <h2>Macbook</h2>
                                <p>120 Products</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!--/categories_grid-->
    </div>
    <!-- /container -->

    @Html.Action("ProductNewPartial", "Partial")

    @Html.Action("ProductYouCanMayLikePartial", "Partial")



    <div class="bg_gray">
        <div class="container margin_30">
            <div id="brands" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#0"><img src="/assets/img/brands/placeholder_brands.png" data-src="/assets/img/brands/logo_1.png" alt="" class="owl-lazy"></a>
                </div><!-- /item -->
                <div class="item">
                    <a href="#0"><img src="/assets/img/brands/placeholder_brands.png" data-src="/assets/img/brands/logo_2.png" alt="" class="owl-lazy"></a>
                </div><!-- /item -->
                <div class="item">
                    <a href="#0"><img src="/assets/img/brands/placeholder_brands.png" data-src="/assets/img/brands/logo_3.png" alt="" class="owl-lazy"></a>
                </div><!-- /item -->
                <div class="item">
                    <a href="#0"><img src="/assets/img/brands/placeholder_brands.png" data-src="/assets/img/brands/logo_4.png" alt="" class="owl-lazy"></a>
                </div><!-- /item -->
                <div class="item">
                    <a href="#0"><img src="/assets/img/brands/placeholder_brands.png" data-src="/assets/img/brands/logo_5.png" alt="" class="owl-lazy"></a>
                </div><!-- /item -->
                <div class="item">
                    <a href="#0"><img src="/assets/img/brands/placeholder_brands.png" data-src="/assets/img/brands/logo_6.png" alt="" class="owl-lazy"></a>
                </div><!-- /item -->
            </div><!-- /carousel -->
        </div><!-- /container -->
    </div>
    <!-- /bg_gray -->

</main>

<!-- SPECIFIC SCRIPTS -->
<script src="/assets/js/carousel-home-2.js"></script>

